/* Reset */
:root {
  --negro: #393939;
  /* Tipografía */
  --tipo-principal: Helvetica, Arial, sans-serif;
  --tipo-secundaria: Verdana;
}

/* Las adaptamos al modo oscuro */
@media (prefers-color-scheme: dark) {
  :root {
    --negro: #ececec;
  }
}

/* Evitamos problemas con las imagenes */
img, picture, video, iframe, figure {
  max-width: 100%;
  width: 100%;
  display: block;
  /* opcional */
  -o-object-fit: cover;
  object-fit: cover;
  /* opcional */
  -o-object-position: center center;
  object-position: center center;
}

/* Reseteamos los enlaces para funcionar como cajas... */
a {
  display: block;
  text-decoration: none;
  color: inherit;
  font-size: inherit;
}

/* Quitamos los puntos de los <li> */
li {
  list-style-type: none;
}

/* Configuramos anclas suaves */
html {
  scroll-behavior: smooth;
}

/* Desactivamos estilos por defecto de las principales etiquetas de texto */
h1, h2, h3, h4, h5, h6, p, span, a, strong, blockquote, i, b, u, em {
  font-size: 1em;
  font-weight: inherit;
  font-style: inherit;
  text-decoration: none;
  color: inherit;
}

/* Evitamos problemas con los pseudoelementos de quotes */
blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

/* Configuramos el texto que seleccionamos */
::-moz-selection {
  background-color: var(--negro);
  color: var(--blanco);
}
::selection {
  background-color: var(--negro);
  color: var(--blanco);
}

/* Nivelamos problemas de tipografías y colocación de formularios */
form, input, textarea, select, button, label {
  font-family: inherit;
  font-size: inherit;
  -webkit-hyphens: none;
      -ms-hyphens: none;
          hyphens: none;
  background-color: transparent;
  color: inherit;
  display: block;
  -webkit-appearance: none;
  -moz-appearance: none;
          appearance: none;
}

/* Reseteamos las tablas */
table, tr, td {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Evitamos problemas con los SVG */
svg {
  width: 100%;
  display: block;
}
body {
  min-height: 100vh;
  font-size: 100%;
  font-family: var(--tipo-principal);
  color: var(--negro);
  line-height: 1.4em;
  -webkit-hyphens: none;
      -ms-hyphens: none;
          hyphens: none;
  font-smooth: always;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


@font-face{
  font-family:"headingNowTitular";
  src: url(./headingNowFonts/HeadingNowTrial-25Medium.ttf) format('truetype');
}

@font-face {
  font-family: "MontserratMedium";
  src: url(./montserratFonts/Montserrat-Medium.otf) format('opentype');
}

@font-face {
  font-family: "Montserratbold";
  src: url(./montserratFonts/Montserrat-Bold.otf) format('opentype');
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background-size: 800% 800%;
  animation: gradientAnimation 10s ease infinite;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: antiquewhite;
  background: linear-gradient(to right,#5d66e7,#ce41a3 ,#4751db,#7252ff, orange);
  background: -webkit-linear-gradient(to right,#5d66e7,#ce41a3 , #4751db, #7252ff, orange);
  background: -moz-linear-gradient(to right, #5d66e7,#ce41a3 , #4751db, #7252ff, orange);
  background: -o-linear-gradient(to right,#5d66e7,#ce41a3 , #4751db, #7252ff, orange);
  background: -ms-linear-gradient(to right,#5d66e7, #ce41a3, #4751db, #7252ff, orange);
  background-size: 800% 800%;
  -webkit-animation: gradient 40s ease infinite;
  -moz-animation: gradient 40s ease infinite;
  -o-animation: gradient 40s ease infinite;
  -ms-animation: gradient 40s ease infinite;
  animation: gradient 40s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.toggle-switch {
  position: fixed;
  top: 1rem;
  right: 1rem;
  display: flex;
  align-items: center;
}

.toggle-input {
  display: none;
}

.toggle-label {
  display: block;
  position: relative;
  width: 4rem;
  height: 2rem;
  cursor: pointer;
  background-color: #ccc;
  border-radius: 3rem;
  transition: background-color 0.3s;
}

.toggle-inner {
  display: block;
  position: absolute;
  top: 0rem;
  left: 1px;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  background-color: #fff;
  transition: transform 0.3s;
}

.toggle-switch-text {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 1px;
  display: flex;
}

.toggle-text-off,
.toggle-text-on {
  color: #000;
  font-size: .7rem;
  font-weight: bold;
  transition: opacity 0.3s;
  opacity: 1;
  margin-left: 1rem;
}

.toggle-text-off {
  margin-left: .5rem;
  color:#4caf50;
  font-weight: bold;
}

.toggle-input:checked + .toggle-label {
  background-color: #4caf50;
}

.toggle-input:checked + .toggle-label .toggle-inner {
  transform: translateX(31px);
}

.toggle-input:checked + .toggle-label .toggle-text-off {
  opacity: 0;
}

.toggle-input:checked + .toggle-label .toggle-text-on {
  opacity: 1;
}

.toggle-input:checked + .toggle-label .toggle-text-off {
  display: none;
}

.container {
  max-width: 1024px;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  padding-top: 1rem;
  border-radius: 1.5rem;
  width: 85%;
  margin: auto;
  margin-top: 10vh;
  background: linear-gradient(45deg, #ffcc00, #ff5e00, #ff00cc);
  background: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(20px);
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.2);
}

h1 {
  text-transform: uppercase;
  font-family: "headingNowTitular";
  font-size: 3.5rem;
  letter-spacing: 2px;
  line-height: 3.5rem;
  color: #202020;
  margin-top: .5rem;
  margin-bottom: .5rem;
}

h2 {
  font-family: "MontserratMedium";
  font-size: 1.8rem;
  line-height: 2rem;
  margin-top: .5rem;
  margin-bottom: .5rem;
  padding-left: .5rem;
  padding-right:.5rem ;
}

h3 {
  font-size: .8rem;
  font-family: "MontserratMedium";
  color: #202020;
}

.btnDescargaCv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 2.5rem;
  }

#downloadBtn {
  text-transform: uppercase;
  width: 60%;
  padding: 1.5rem 1rem;
  font-size: 1rem;
  background-color: #4CAF50;
  color: #fff;
  border-radius: 4rem;
  border-top: #4CAF50;
    border-left: #4CAF50;
    border-bottom: #4CAF50;
    border-right: #4CAF50;
    border-radius: 3.2rem;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.4);
}

@keyframes slideIn {
  0% {
    opacity: 0;
    transform: translateY(6.25rem);
  }
  50% {
    opacity: 0.25;
    transform: translateY(3rem);
  }
  75% {
    opacity: 0.50;
    transform: translateY(2rem);
  }
  100% {
    opacity: 1;
    transform: translateY(5rem);
  }
}

@keyframes shake {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateY(-30px);
  }
  50% {
    transform: translateX(15px);
  }
  75% {
    transform: translateY(-30px);
  }
  100% {
    transform: translateX(0);
  }
}

.hidden {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}
.visible {
  opacity: 1;
  transform: translateY(0);
  animation: slideIn 3s ease-in-out forwards;
}

.shake {
  animation: shake 1s;
}

.icon-container {
  margin: auto;
  margin-top: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.fa-github {
font-size: 3rem;
color: rgb(60, 60, 197);
}
.fa-linkedin {
font-size: 3rem;
color: rgb(60, 60, 197);
}

#textFooter {
  margin-top: 2em;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
#textFooter p{
  font-size: .7rem;
  color:#202020;
}

/*Estilos para modo landscape*/
@media screen and (orientation: landscape) {
.container {
  width: 90%;
  margin-top: 5rem;
}
}

/*Estilos para tablets*/
@media screen and (min-width:601px) {
  h1 {
    font-size: 5rem;
    line-height: 5rem;
  }
  #downloadBtn {
    width: 40%;
    padding: 2rem 2rem;
    margin-top: 3rem;
    margin-bottom: 3rem;
    font-weight: bold;
  }
  .icon-container{
    gap: 2.5rem;
  }
  .fa-github {
    font-size: 4rem;
  }
  .fa-linkedin {
    font-size: 4rem;
  }
}
/*Estilos tablet landscape*/
@media screen and (min-width:601)and (max-width:1024) and (orientation: landscape){
  h1 {
    color: red;
  }
}

 /*Estilos para laptops */
@media screen and (min-width: 1024px){
  .toggle-switch {
    top: 1.5rem;
    right: 1.3rem;
  }
  .toggle-label {
    width: 5rem;
    height: 2.5rem;
  }
  .toggle-inner {
    top: 0;
    left: 1px;
    width: 2.5rem;
    height: 2.47rem;
  }
  .toggle-switch-text {
    top: 50%;
    transform: translateY(-50%);
    left: 6px;
  }
  .toggle-text-on {
    font-size: 1rem;
    margin-left: 1rem;
  }
  .toggle-text-off {
    font-size: 1rem;
    margin-left: .5rem;
  }
  .toggle-input:checked + .toggle-label .toggle-inner {
    transform: translateX(42px);
  }
  .container {
    margin-top: 7%;
    margin-bottom: 2.5rem;
  }
  h1 {
    font-size: 8rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
  h2 {
    font-size: 3rem;
    padding-bottom: 1rem;
  }
  h3 {
    font-size: 1.2rem;
    padding-bottom: 2rem;
    }

  .btnDescargaCv {
    margin-top: 0rem;
    
  }
  #downloadBtn {
    width: 20%;
    padding: 1.5rem 1.5rem;
    font-size: 1rem;
    transition: box-shadow .3s ease;
  }
  #downloadBtn:active {
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
  }
  #downloadBtn:hover {
    transform: scale(1.1);
    background-color: #4aa047;
    font-size: 1rem;
    cursor: pointer;
  }
  
  .icon-container {
    width: 60%;
    margin-bottom: 5vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 3rem;
  }
  .fa-github {
    font-size: 3rem;
    cursor: pointer;
    }
    .fa-linkedin {
    font-size: 3rem;
    cursor: pointer;
    }
    .fa-github:hover,
    .fa-linkedin:hover  {
    transform: scale(1.2);
    }
}


