@font-face{
  font-family:"headingNowTitular";
  src: url(./headingNowFonts/HeadingNowTrial-25Medium.ttf) format('truetype');
}

@font-face {
  font-family: "MontserratMedium";
  src: url(./montserratFonts/Montserrat-Medium.otf) format('opentype');
}

@font-face {
  font-family: "Montserratbold";
  src: url(./montserratFonts/Montserrat-Bold.otf) format('opentype');
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background: linear-gradient(45deg, #ff8a00, #e52e71, #667eea);
  background-size: 400% 400%;
  animation: gradientAnimation 10s ease infinite;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: antiquewhite;
}

.toggle-switch {
  position: fixed;
  top: 2.5rem;
  right: 2.5rem;
  display: flex;
  align-items: center;
}

.toggle-input {
  display: none;
}

.toggle-label {
  display: block;
  position: relative;
  width: 8rem;
  height: 4rem;
  cursor: pointer;
  background-color: #ccc;
  border-radius: 3.5rem;
  transition: background-color 0.3s;
}

.toggle-inner {
  display: block;
  position: absolute;
  top: .1rem;
  left: 2px;
  width: 4rem;
  height: 3.8rem;
  border-radius: 50%;
  background-color: #fff;
  transition: transform 0.3s;
}

.toggle-switch-text {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 8px;
  display: flex;
}

.toggle-text-off,
.toggle-text-on {
  color: #000;
  font-size: 1.5rem;
  font-weight: bold;
  transition: opacity 0.3s;
  opacity: 1;
  margin-left: 1.5rem;
}

.toggle-text-off {
  margin-left: .8rem;
  color:#4caf50;
  font-weight: bold;
}

.toggle-input:checked + .toggle-label {
  background-color: #4caf50;
}

.toggle-input:checked + .toggle-label .toggle-inner {
  transform: translateX(65px);
}

.toggle-input:checked + .toggle-label .toggle-text-off {
  opacity: 0;
}

.toggle-input:checked + .toggle-label .toggle-text-on {
  opacity: 1;
}

.toggle-input:checked + .toggle-label .toggle-text-off {
  display: none;
}

.container {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  padding: 2rem;
  border-radius: 1.5rem;
  width: 85%;
  margin: auto;
  margin-top: 10vh;
  background: linear-gradient(45deg, #ffcc00, #ff5e00, #ff00cc);
  background: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(20px);
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.2);
}

h1 {
  text-transform: uppercase;
  font-family: "headingNowTitular";
  font-size: 6.5em;
  letter-spacing: 5px;
  color: #202020;
  margin-top: 0;
  margin-bottom: 0;
}

h2 {
  font-family: "MontserratMedium";
  font-size: 2.5rem;
}

h3 {
  font-size: .8rem;
  font-family: "MontserratMedium";
  margin-bottom: 1rem;
  color: black;
}

.btnDescargaCv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 20vh;
  margin-top: 5vh;
  margin-bottom: 5vh;
}

#downloadBtn {
  width: 45%;
  margin-top: 6%;
  padding: 3rem 3rem;
  font-size: 2.5em;
  background-color: #4CAF50;
  color: #fff;
  border-radius: 4rem;
}

@keyframes slideIn {
  0% {
    opacity: 0;
    transform: translateY(6.25rem);
  }
  50% {
    opacity: 0.25;
    transform: translateY(3rem);
  }
  75% {
    opacity: 0.50;
    transform: translateY(2rem);
  }
  100% {
    opacity: 1;
    transform: translateY(5rem);
  }
}


@keyframes shake {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateY(-30px);
  }
  50% {
    transform: translateX(15px);
  }
  75% {
    transform: translateY(-30px);
  }
  100% {
    transform: translateX(0);
  }
}


.hidden {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}
.visible {
  opacity: 1;
  transform: translateY(0);
  animation: slideIn 3s ease-in-out forwards;
}

.shake {
  animation: shake 1s;
}

.icon-container {
  width: 60%;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}

.fa-github {
font-size: 8rem;
color: rgb(60, 60, 197);
}
.fa-linkedin {
font-size: 8rem;
color: rgb(60, 60, 197);
}

#textFooter {
  margin-top: 5rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
#textFooter p{
  font-size: 1.2rem;
  color:#202020;
}

@keyframes gradientAnimation {
  0% {
    background: linear-gradient(45deg, #ff8a00, #e52e71, #667eea);
  }
  50% {
    background: linear-gradient(45deg, #667eea, #ff8a00, #e52e71);
  }
  100% {
    background: linear-gradient(45deg,  #667eea, #ff8a00, #e52e71);
  }
}

/* Estilos para tablets 
@media only screen and (min-width: 768px) {
  .container {
    width: 60%;
  }
}

 /*Estilos para laptops */
@media only screen and (min-width: 1024px) {
  .toggle-switch {
    top: 1.5rem;
    right: 1.3rem;
  }
  .toggle-label {
    width: 5rem;
    height: 2.5rem;
  }
  .toggle-inner {
    top: 0;
    left: 1px;
    width: 2.5rem;
    height: 2.47rem;
  }
  .toggle-switch-text {
    top: 50%;
    transform: translateY(-50%);
    left: 6px;
  }
  .toggle-text-on {
    font-size: 1rem;
    margin-left: 1rem;
  }
  .toggle-text-off {
    font-size: 1rem;
    margin-left: .5rem;
  }
  .toggle-input:checked + .toggle-label .toggle-inner {
    transform: translateX(42px);
  }
  .container {
    width: 70%;
    height: 35%;
    margin-top: 7%;
    margin-bottom: 0;
  }

  h3 {
    font-size: 1.2rem;
    }

  .btnDescargaCv {
    max-height: 5vh;
    margin-top: 0rem;
    margin-bottom: 15vh;
  }
  #downloadBtn {
    width: 19%;
    margin-top: 6%;
    padding: 1.8rem .7rem;
    font-size: 1.5rem;
    border-top: #4CAF50;
    border-left: #4CAF50;
    border-bottom: #4CAF50;
    border-right: #4CAF50;
    border-radius: 3.2rem;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.4);
    transition: box-shadow .3s ease;
  }
  #downloadBtn:active {
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
  }
  #downloadBtn:hover {
    width: 19.5%;
    background-color: #4aa047;
    font-size: 1.55rem;
    cursor: pointer;
  }
  .icon-container {
    width: 60%;
    margin-bottom: 5vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 3rem;
  }
  .fa-github {
    font-size: 3rem;
    cursor: pointer;
    }
    .fa-linkedin {
    font-size: 3rem;
    cursor: pointer;
    }
    .fa-github:hover {
      font-size: 3.5rem;
      }
      .fa-linkedin:hover {
      font-size: 3.5rem;
      }
    
}


